{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin.css', v=1) }}">
{% endblock head %}
{% block content %}
    <main id="main" class="main">
        <div class="column">
            <div id="photo_zone">

            </div>
            <div id="buttons_zone">

            </div>
        </div>
        <div class="column">

        </div>
    </main>
    <script src="{{ url_for('static', filename='scripts/admin.js', v=1) }}"></script>
{% endblock content %}