{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin.css', v=1) }}">
{% endblock head %}
{% block content %}
    <main id="main" class="main">
        <div class="column">
            <div id="photo_zone" class="scroll">
                <div id="img_column1">

                </div>
                <div id="img_column2">

                </div>
            </div>
            <div id="buttons_zone">
                <div style="margin-top: 20px; display: flex; flex-direction: row; justify-content: space-around;">
                    <div id="tags_container" class="tags_zone_container">
                        <hr class="hr">
                        <h1 class="aside_title">Теги</h1>
                        <div id="checkbox_container" class="scroll">

                        </div>
                    </div>
                    <div id="description_container" class="tags_zone_container">
                        <hr class="hr">
                        <h1 class="aside_title">Описание</h1>
                        <textarea id="description_textarea" class="scroll" placeholder=" "></textarea>
                    </div>
                </div>
                <div class="buttons">
                    <input id="delete_photo" type="submit" value="Удалить фото">
                    <input id="delete_user" type="submit" value="Удалить пользователя">
                </div>
            </div>
        </div>
        <div class="column">
            <h1 style="text-align: center;">Пользователи</h1>
            <div id="users_column" style="display: flex; flex-direction: column;">

            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='scripts/admin.js', v=1) }}"></script>
{% endblock content %}