{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/my_images.css', v=1) }}">
{% endblock head %}
{% block content %}
    <div class="content_columns_wrapper">
        <div class="content_column">
            <div id="photo_zone">
                <hr class="hr">
                <h1 class="aside_title">Изменение фото</h1>
                <div id="photo_container">

                </div>
            </div>
        </div>
        <div class="content_column">
            <hr class="hr">
            <h1 class="aside_title">Мои фото</h1>
            <div style="display: flex; flex-direction: row; overflow: scroll; overflow-x: hidden; max-height: 100%;" class="scroll">
                <div id="img_column1" class="img_column">

                </div>
                <div id="img_column2" class="img_column">

                </div>
            </div>
        </div>
    </div>
    <div id="tags_zone">
        <div id="tags_container" class="tags_zone_container">
            <hr class="hr">
            <h1 class="aside_title">Теги</h1>
            <div id="checkbox_container" class="scroll">

            </div>
        </div>
        <div id="description_container" class="tags_zone_container">
            <hr class="hr">
            <h1 class="aside_title">Описание</h1>
            <textarea id="description_textarea" class="scroll" placeholder=" "></textarea>
        </div>
        <div id="buttons_container" class="tags_zone_container">
            <hr class="hr">
            <h1 class="aside_title">Действия</h1>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/my_photo.js', v=1) }}"></script>
{% endblock content %}