{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/search.css', v=1) }}">
{% endblock head %}
{% block content %}
    {% set path = "users/" + current_user.id|string + "/images/" %}
    <div class="table_container">
        <table border="0" cellspacing="0" class="center table">
            {% for photo in user_photos %}
                {% if not ((loop.index - 1) % 4) %}
                    <tr class="search_image_row">
                {% endif %}
                        <td class="img_container">
                            <div class="img_wrapper">
                                <div class="img_wrapper2">
                                    <div class="left_side_img_container">
                                        <img src="{{ url_for('static', filename=path + photo) }}" class="img">
                                    </div>
                                    <div class="hidden right_side_img_container"></div>
                                    <span class="hidden close"></span>
                                </div>
                            </div>
                        </td>
                {% if (loop.index - 1) % 4 == 3%}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <aside class="wrapper_aside">
        <hr class="hr">
        <h1 class="aside_title">Теги</h1>
        <div class="checkbox_container">
            {% for tag in current_user.user_tag_list %}
                <div class="aside_center checkbox_div" title="{{ tag }}">
                    <label>
                        <input type="checkbox" class="upload_checkbox" name="check" value="{{ tag }}" form="search_form">
                        <span class="checkbox_span">{{ tag }}</span>
                    </label>
                </div>
            {% endfor %}
        </div>
        <form action="" method="POST" id="search_form">
            {{ form.hidden_tag() }}
            {{ form.submit() }}
        </form>
    </aside>
    <script src="{{ url_for('static', filename='scripts/search.js', v=1) }}"></script>
{% endblock content %}