{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='upload.css', v=1) }}" xmlns:tag>
{% endblock head %}
{% block content %}
    <div class="upload_wrapper_content">
        <aside class="wrapper_aside middle_aside">
            <hr class="hr">
            <h1 class="aside_title">Фото</h1>
            <div style="height: 54%; display: flex; flex-direction: row; justify-content: space-between;" class="aside_center">
                <div class="drag_zone">

                </div>
                <div style="margin-left: 10px;flex-grow: 1; border: 1px solid black;">

                </div>
            </div>
            <div style="height: 30%;">
                <div style="height: 100%;", class="aside_center">
                    {{ form.description(form="upload_form", class="form_description_field", placeholder=" ") }}
                </div>
            </div>
            <div class="form_wrapper">
                <form action="" method="POST" enctype="multipart/form-data" class="aside_center form" id="upload_form">
                    {{ form.hidden_tag() }}
                    <div class="form_buttons">
                        {{ form.picture_file(form="upload_form", class="form_picture_file_button") }}
                        {{ form.submit(form="upload_form", class="form_submit_button") }}
                    </div>
                </form>
            </div>
        </aside>
        <aside class="wrapper_aside">
            <hr class="hr">
            <h1 class="aside_title">Теги</h1>
            <div class="checkbox_container">
                {% for tag in current_user.user_tag_list %}
                    <div class="aside_center checkbox_div">
                        <label>
                            <input type="checkbox" class="upload_checkbox" name="check" value="{{ tag }}" form="upload_form">
                            <span>{{ tag }}</span>
                        </label>
                    </div>
                {% endfor %}
                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="aside_center add_tags_div">
                        {{ form1.tags(placeholder="Добавить теги") }}
                        {{ form1.submit() }}
                    </div>
                </form>
            </div>
        </aside>
    </div>
{% endblock content %}
