{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/upload.css', v=1) }}">
{% endblock head %}
{% block content %}
    <div class="upload_wrapper_content">
        <aside class="wrapper_aside middle_aside">
            <hr class="hr">
            <h1 class="aside_title">Фото</h1>
            <div class="aside_center main_content">
                <div class="drag_zone">
                    <div class="drag_zone_bottom">
                        <span class="fake-btn">Выбрать файл</span>
                        <span id="file-name"></span>
                    </div>
                    <img id="box-image" src="{{ url_for('static', filename='uploadImages/boxFilled0.png', v=1) }}">
                    <img src="{{ url_for('static', filename='uploadImages/json.jpg', v=1) }}" class="json">
                    {{ form.picture_file(form="upload_form", id="file-input") }}
                </div>
            </div>
            <div class="description_zone">
                <div class="aside_center">
                    {{ form.description(form="upload_form", class="form_description_field", placeholder=" ") }}
                </div>
            </div>
            <div class="form_wrapper">
                <form action="" method="POST" enctype="multipart/form-data" class="aside_center form" id="upload_form">
                    {{ form.hidden_tag() }}
                    <div class="form_buttons">
                        {{ form.submit(form="upload_form", class="form_submit_button") }}
                    </div>
                </form>
            </div>
        </aside>
        <aside class="wrapper_aside">
            <hr class="hr">
            <h1 class="aside_title">Теги</h1>
            <div class="checkbox_container scroll">
                {% for tag in current_user.user_tag_list %}
                    <div class="aside_center checkbox_div" title="{{ tag }}">
                        <label>
                            <input type="checkbox" class="upload_checkbox" name="check" value="{{ tag }}" form="upload_form">
                            <span class="checkbox_span">{{ tag }}</span>
                        </label>
                    </div>
                {% endfor %}
                <!--<form action="" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="aside_center add_tags_div">
                        {{ form1.tags(placeholder="Добавить теги", title="Пример: #Тег") }}
                        {{ form1.submit() }}
                    </div>
                </form>-->
                <div class="aside_center add_tags_div">
                    <input type="text" placeholder="Добавить теги" title="Пример: #Тег" id="inputTags" required>
                    <input type="submit" value="Добавить" id="submitTags">
                </div>
            </div>
        </aside>
    </div>
    <script src="{{ url_for('static', filename='scripts/upload.js', v=1) }}"></script>
{% endblock content %}
