{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='upload.css', v=1) }}" xmlns:tag>
{% endblock head %}
{% block content %}
    <div class="center wrapper_content">
        <aside>
            <div class="left_aside_div">
                <hr class="hr">
                <h1 class="aside_title">Загрузка фотографий</h1>
                <div class="Big"></div>
                <form action="" method="POST" enctype="multipart/form-data" class="form" id="upload_form">
                    {{ form.hidden_tag() }}
                    {{ form.picture_file() }}
                </form>
                {{ form.submit(form="upload_form", class="form_button") }}
            </div>
        </aside>
        <aside>
            <hr class="hr">
            <h1 class="aside_title">Теги</h1>
            {% for tag in current_user.user_tag_list %}
                <div>
                    <label>
                        <input type="checkbox" class="upload_checkbox" name="check" value="{{ tag }}" form="upload_form">
                        <span>{{ tag }}</span>
                    </label>
                </div>
            {% endfor %}
            {{ form.description(form="upload_form") }}
        </aside>
    </div>
{% endblock content %}
