body, h1, h2, h3, h4, h5, h6, p, hr {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #f0f0f0;
}
.center {
    width: 60%;
    margin: 0px auto;
}
.aside_center {
    width: 90%;
    margin: auto auto;
}
.main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;

    height: 90%;
    min-height: 500px;
}
#wrapper {
    min-width: 1100px;
    min-height: 600px;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
}
.hr {
    position: relative;
    top: 30px;
    border: 1px solid #3d9480;
    background-color: #3d9480;
}
.hr_top {
    border: 1px solid #3d9480;
    background-color: #3d9480;
}

