* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #f0f0f0;
}
.center {
    width: 70%;
    margin: 0px auto;
}
.aside_center {
    width: 90%;
    margin: auto auto;
}
.main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;

    height: 100%;
}
#wrapper {
    min-width: 1100px;
    min-height: 600px;
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;

    overflow: visible;
}
#content_wrapper {
    width: 100%;
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 20px;
}
.hr {
    position: relative;
    top: 30px;
    border: 1px solid #3d9480;
    background-color: #3d9480;
}
.hr_top {
    border: 1px solid #3d9480;
    background-color: #3d9480;
}
