.search_image_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 20px;
}

.search_image {
    width: 32%;
    position: relative;

    border-radius: 10px;
    border: 1px solid black;

    transition-property: bottom, box-shadow;
    transition-duration: 0.3s;
}
    .search_image:hover {
        bottom: 7px;
        box-shadow: 7px 7px 3px #5d5c5c;
    }
