* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #f0f0f0;
    overflow: scroll;
    overflow-x: auto;
}
.aside_title {
    font-family: Arial;
    text-align: center;
    font-weight: normal;
    font-size: 25px;
	color: #067259;
}
.center {
    width: 70%;
    margin: 0px auto;
}
.center_content_wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
}
.aside_center {
    width: 90%;
    margin: auto auto;
}
.main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;

    height: 100%;
}
.menu {
    margin-right: 15px;
    width: 170px;
    min-width: 170px;
    height: 40vh;
    min-height: 300px;
    position: sticky;
    top: 72px;
}
#wrapper {
    min-width: 1200px;
    min-height: 600px;
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
}
#content_wrapper {
    width: 100%;
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 20px;
}
#content_wrapper2 {
    flex-grow: 1;
}
.hr {
    position: relative;
    top: 30px;
    border: 1px solid #3d9480;
    background-color: #3d9480;
}
.hr_top {
    border: 1px solid #3d9480;
    background-color: #3d9480;
}
