.content_columns_wrapper {
    flex-grow: 1;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content_column {

}
.content_column:first-child {
    flex-grow: 1;
}
    #photo_zone {
        height: 400px;
        background: white;
        box-shadow: 0 4px 16px #ccc;
        border-radius: 10px;
    }
    #tags_zone {
        height: 300px;
        margin-top: 15px;
        background: white;
        box-shadow: 0 4px 16px #ccc;
        border-radius: 10px;
    }
.content_column:last-child {
    width: 300px;
    background: white;
    box-shadow: 0 4px 16px #ccc;
    height: 715px;
    margin-left: 15px;
    border-radius: 10px;
}
