body {
    overflow-x:auto;
    overflow-y:hidden;
}
#wrapper {
    overflow: scroll;
    overflow-x:auto;
}
#content_wrapper2 {
    display: flex;
    flex-direction: row;
}
.wrapper_aside {
    position: relative;

    height: 60vh;
    min-height: 300px;

    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;

    width: 20%;
    min-width: 200px;
    display: flex;
    flex-direction: column;

    margin-left: 15px;

    position: sticky;
    top: 72px;
}
.checkbox_div {
    margin-top: 1px;
    background-color: #3d9480;
    padding-left: 5px;
    border-radius: 5px;
    color: white;
    line-height: 25px;
    transition: 0.3s;
}
    .checkbox_div:hover {
        background: #418777;
    }
.checkbox_container {
    flex-grow: 1;
    overflow: scroll;
    overflow-x: hidden;
}
.checkbox_div:first-child {
    margin-top: 4px;
}
.checkbox_span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
.aside_title {
    font-family: Arial;
    text-align: center;
    font-weight: normal;
    font-size: 25px;
	color: #067259;
}
.upload_checkbox {
    margin-top: 7px;
    margin-right: 3px;
    float: left;
}
.upload_checkbox, label {
    cursor: pointer;
    font-family: Arial;
    font-size: 20px;
}
.upload_checkbox:checked ~ span {
    color: #fff80f;
}


.wrapper_middle{
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    position: relative;
}
    .img_column {
        width: 23%;
        height: 100%;
    }
        .img_container {
            margin-bottom: 10px;
        }
        .img {
            cursor: pointer;
            display: block;
            min-width: 100%;
            max-width: 100%;

            max-height: 100%;
            border-radius: 10px;
            box-shadow: 0 4px 16px #4e4e4e;
        }
            .img:hover {
                box-shadow: 0px 0px 3px 3px #4e4e4e;
            }
        .active_container {
            position: absolute;
            left: 0px;

            width: 100%;
            height: 400px;

            background: gray;
            padding: 32px 0px;
            border-radius: 10px;

            display: flex;
            flex-direction: row;
            justify-content: center;

            box-shadow: 7px 7px 3px 3px black;
            transition: padding 0.7s ease, box-shadow 1s ease;
        }
            .active_container .left_side_img_container {
                width: 60%;

                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .active_container .img {
                min-width: 0px;
                margin: auto auto;
            }
                .active_container .img:hover {
                    box-shadow: 0 4px 16px #4e4e4e;
                    cursor: auto;
                }

            .active_container .description_zone {
                width: 30%;
                height: 100%;
                background: white;
                margin-left: 10px;

                border-radius: 10px;
            }
                .active_container .author_avatar {
                    width: 60px;
                    height: 60px;
                }

.close {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 32px;
	height: 32px;
	opacity: 0.7;
	border-radius: 0px 10px 0px 0px;
	cursor: pointer;
}
.close:hover {
	opacity: 1;
}
.close:before, .close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 33px;
	width: 2px;
	background-color: #f0f0f0;
}
.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}

.hidden {
    display: none;
}