#content_wrapper2 {
    display: flex;
    flex-direction: row;
}
.wrapper_aside {
    position: relative;

    height: 60vh;
    min-height: 300px;

    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;

    width: 20%;
    min-width: 200px;
    display: flex;
    flex-direction: column;

    margin-left: 15px;

    position: sticky;
    top: 72px;
}
.checkbox_div {
    margin-top: 1px;
    background-color: #3d9480;
    padding-left: 5px;
    border-radius: 5px;
    color: white;
    line-height: 25px;
    transition: 0.3s;
}
    .checkbox_div:hover {
        background: #418777;
    }
.checkbox_container {
    flex-grow: 1;
    overflow: scroll;
    overflow-x: hidden;
}
.checkbox_div:first-child {
    margin-top: 4px;
}
.checkbox_span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
.aside_title {
    font-family: Arial;
    text-align: center;
    font-weight: normal;
    font-size: 25px;
	color: #067259;
}
.upload_checkbox {
    margin-top: 7px;
    margin-right: 3px;
    float: left;
}
.upload_checkbox, label {
    cursor: pointer;
    font-family: Arial;
    font-size: 20px;
}

.upload_checkbox:checked ~ span {
    color: #fff80f;
}
.table_container {
    flex-grow: 1;
}
.table {
    position: relative;

	margin: 0px auto;
	width: 100%;

	border-spacing: 15px 0px;
	background: rgba(122, 102, 255, 1);
	border-radius: 10px;
}
.img {
	cursor: pointer;
	transition: 0s;
	max-width: 100%;
	border-radius: 10px;
	box-shadow: 0 4px 16px #4e4e4e;
	margin: 10px 0px;
}
.img:hover {
    box-shadow: 0 4px 16px black;
}
.img_container {
	transition: 0s;
	width: 25%;
	position: relative;
	vertical-align: top;
}

.active_container {
	position: absolute;
	left: 0px;
	z-index: 1;

	width: 100%;
	height: 392px;

	background: #43a28c;
	border-radius: 10px;

	box-shadow: 7px 7px 3px #333333;
	padding: 33px 0px;
}
.active_container, .active_container img {
	transition: width 0.7s ease, box-shadow 1s ease;
}
.active_container .hidden {
	display: block;
}
.active_container .left_side_img_container {
    width: 70%;
    display: flex;
    flex-direction: column;
}
.active_container .right_side_img_container {
    width: 29%;
    height: 100%;
    background: #f0f0f0;
    border-radius: 10px;
}
.active_container .img {
    max-width: 100%;
    max-height: 100%;
    margin: auto auto;
    transition: 0s;
    border-radius: 10px;
    cursor: auto;
}
.active_container .img:hover {
    box-shadow: 0 4px 16px #4e4e4e;
}

.close {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 32px;
	height: 32px;
	opacity: 0.7;
	border-radius: 0px 10px 0px 0px;
	cursor: pointer;
}
.close:hover {
	opacity: 1;
}
.close:before, .close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 33px;
	width: 2px;
	background-color: #f0f0f0;
}
.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}
.img_container .img_wrapper {
    height: 100%;
    width: 90%;
    margin: 0px auto;
}
.img_wrapper2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hidden {
    display: none;
}