#content_wrapper2 {
    display: flex;
    flex-direction: row;
}
.wrapper_aside {
    position: relative;

    height: 60vh;
    min-height: 300px;

    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;

    width: 20%;
    min-width: 200px;
    display: flex;
    flex-direction: column;

    margin-left: 15px;

    position: sticky;
    top: 72px;
}
.checkbox_container {
    flex-grow: 1;
    overflow: scroll;
    overflow-x: hidden;
}
.aside_title {
    font-family: Arial;
    text-align: center;
    font-weight: normal;
    font-size: 25px;
	color: #067259;
}
.upload_checkbox, label {
    cursor: pointer;
    font-family: Arial;
    font-size: 20px;
}

.upload_checkbox:checked ~ span{
    color: #ff6347;
}
.table_container {
    flex-grow: 1;
    min-width: 550px;
}
.table {
    position: relative;

	margin: 0px auto;
	width: 100%;

	border-spacing: 15px 0px;
}
.img {
	cursor: pointer;
	transition: 0s;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 4px 16px #4e4e4e;
}
.img_container {
	transition: 0s;
	width: 25%;
	position: relative;
	padding: 5px 0px;
}

.active_container {
	position: absolute;
	left: 0px;
	z-index: 1;

	width: 100%;
	height: 392px;

	background: #43a28c;
	border-radius: 10px;

	box-shadow: 7px 7px 3px #333333;
	padding: 33px 0px;
}
.active_container, .active_container img {
	transition: width 0.7s ease, box-shadow 1s ease;
}
.active_container .img {
    transition: 0s;
    border-radius: 10px;
}
.active_container .hidden {
	display: block;
}
.active_container .left_side_img_container {
    width: 30%;
    display: flex;
    flex-direction: column;
}
    .left_side_img_container_buttons {
        border-radius: 10px;
        flex-grow: 1;
        background: red;
        margin-top: 6px;
        min-height: 100px;
    }
.active_container .right_side_img_container {
    width: 69%;
    height: 100%;
    background: red;
    border-radius: 10px;
}
.active_container .left_side_img_open {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.close {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 32px;
	height: 32px;
	opacity: 0.7;
	border-radius: 0px 10px 0px 0px;
	cursor: pointer;
}
.close:hover {
	opacity: 1;
}
.close:before, .close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 33px;
	width: 2px;
	background-color: #f0f0f0;
}
.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}

.hidden {
    display: none;
}